<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/orders">Orders</a></li>
    </ul>
    <nb-button-group>
        <button nbButton status="primary">Primary</button>
        <button nbButton status="success">Success</button>
        <button nbButton status="info">Info</button>
        <button nbButton status="warning">Warning</button>
        <button nbButton status="danger">Danger</button>
    </nb-button-group>
    <nb-toggle status="basic">Basic</nb-toggle>
</nav>